html, body {
  overflow: hidden;
}

.navbar-nav a {
    font-weight: 525;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://dcizmarik.s3.us-east-2.amazonaws.com/thumbnails/coverphoto-wtc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav li {
    padding-right: 50px
}
