.navbar-nav a {
    font-weight: 525;
}

.card {
  transition: box-shadow .2s;
  border-radius: 10px;
  background: #fff;
  float: left;
  cursor: pointer;

}
.card:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2);
}

nav li {
        padding-right: 50px
}

.container {
  max-width: 80%;
}

.card-deck .card {
  max-width: 50px;
}
